/* forms.css */
body, html {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
}

.main-container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

.form-group .input-group {
    display: flex;
    align-items: center;
}

.form-group .input-group input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.input-group-append {
    margin-left: -35px;
    cursor: pointer;
}

.input-group-text {
    background: transparent;
    border: none;
}

button[type="submit"] {
    background-color: #5e3181;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #4a256e;
}
