/* Body Styling */
body {
    background-color: #f8f9fa; /* Equivalent to bg-light */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Equivalent to vh-100 */
    margin: 0;
}

/* Container Styling */
.main-container {
    max-width: 1200px; /* Increased max-width to make the container bigger */
    background-color: #fff; /* Equivalent to bg-white */
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15); /* Equivalent to shadow-lg */
    border-radius: 20px; /* Equivalent to rounded */
    padding: 0; /* Equivalent to p-0 */
}

/* Row Styling */
.row-no-gutters {
    margin-right: 0;
    margin-left: 0;
}

/* Left Panel Styling */
.left-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2rem; /* Increased padding */
    margin-top: 20px;
}

/* Tikme Logo Styling */
.tikme-logo {
    width: 100%;          /* Set width to 100% for smaller screens */
    height: auto;         /* Maintain aspect ratio by setting height to auto */
    max-width: 450px;     /* Limit max width for larger screens */
    max-height: 180px;    /* Limit max height to maintain size */
    object-fit: cover;    /* Ensure the image fills the area correctly without distortion */
    display: block;       /* Ensure the image is displayed as a block element */
}

/* Divider Styling */
.divider {
    width: 90%; /* Increased width of the divider */
    height: 2px;
    margin-bottom: 30px; /* Increased bottom margin */
    background-color: #8A0EB5;
}

/* Heading Styling */
.heading {
    font-size: 1.2rem; /* Increased font size */
    color: #344767; 
    margin-bottom: 1.5rem; /* Increased bottom margin */
}

/* Custom Styling for Buttons */
.option-button {
    border: none;
    border-radius: 8px;
    padding: 25px; /* Increased padding */
    margin-bottom: 20px; /* Increased margin */
    font-size: 1.2rem; /* Increased font size */
    font-weight: 650; /* Semi-bold text */
    color: #fff;
    text-align: center;
    background-size: cover;
    background-position: center;
    transition: opacity 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px; /* Increased button height */
    width: 400px; /* Increased button width */
 
}


.button-reservation {
    background-image: url('/static/assets/images/about-1.png');
}
.button-logistics {
    background-image: url('/static/assets/images/about-2.png');
}
.button-finance {
    background-image: url('/static/assets/images/about-3.png');
}
.button-system-admin-login {
    background-image: url('/static/assets/images/about-1.png');
}

.option-button:hover {
    opacity: 0.9;
}

/* Right Panel Styling */
.right-panel img {
    width: 120%; /* Increased image width */
    height: auto; /* Maintain aspect ratio */
    object-fit: cover;
    border-radius: 0 0.25rem 0.25rem 0;
}

/* Responsive Adjustments */
@media (max-width: 1200px) {
    .main-container {
        max-width: 950px;
        padding: 16px;
        height: auto;
        display: flex;
    }

    .left-panel {
        padding: 16px;
        max-height: 700px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .right-panel {
        flex: 1; /* Allow the right panel to take up remaining space */
        padding: 0; /* Remove padding to utilize space */
        max-height: 700px;
        overflow: hidden;
        display: flex; /* Enable flex for organization */
        justify-content: center; /* Center content horizontally */
        align-items: center; /* Center content vertically */
        position: relative; /* Enable absolute positioning of image */
    }

    .heading {
        font-size: 16px;
        margin-bottom: 16px;
    }

    .option-button {
        width: 490px;
        height: 60px;
        padding: 12px;
        margin-bottom: 10px;
        background-color: #007bff;
        color: #ffffff;
        border: none;
        border-radius: 4px;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s, transform 0.2s;
    }

    .option-button:hover {
        background-color: #0056b3;
        transform: translateY(-2px);
    }

    .divider {
        margin: 20px 0;
    }
}

@media (max-width: 768px) {
    .tikme-logo {
        max-height: 120px;
        max-width: 80%;
        margin: 0;
    }

    .option-button {
        width: 200px;
        font-size: 16px;
        margin-bottom: 10px;
    }

    .heading {
        font-size: 14px;
    }

    .divider {
        margin-bottom: 15px;
    }

    .left-panel {
        padding: 8px;
    }

    .right-panel {
        max-height: 250px; /* Limit max height for right panel on small screens */
        justify-content: flex-start; /* Align content to the top */
        padding: 0; /* Remove padding */
    }

    .right-panel img {
        max-height: 100%; /* Limit max height to 100% of the right panel */
        width: 100%; /* Make image take full width */
        height: auto; /* Maintain aspect ratio */
        object-fit: cover; /* Ensure image covers its area */
        margin: 0; /* Remove margin */
    }
}

/* Additional Responsive Adjustments for 1366px Width */
@media (max-width: 1366px) {
    .main-container {
        max-height: 810px; /* Overall max height for main container */
        overflow: hidden;
        max-width: 950px;
        display: flex;
    }

    .left-panel {
        padding: 16px;
        max-height: 600px; /* Keep the left panel's max height */
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .right-panel {
        flex: 1;
        padding: 0; /* Remove padding */
        max-height: 600px; /* Increased max height to better fit the container */
        overflow: hidden;
        display: flex; /* Enable flex for organization */
        justify-content: center; /* Center content horizontally */
        align-items: center; /* Center content vertically */
        position: relative; /* Enable absolute positioning of image */
        margin: 0; /* Remove any margins */
    }

    .heading {
        font-size: 18px;
        margin-top: 30px;
        margin-bottom: -5px;
    }

    .option-button {
        width: 350px;
        padding: 15px;
        font-size: 16px;
        margin-bottom: 5px;
        height: 80px;
       
    }

    .divider {
        margin: -20px 20px;
    }

    .right-panel img {
        max-height: 100%; /* Allow the image to use the full height of the panel */
        width: 100%; /* Ensure the image takes up the full width of the panel */
        height: 100%; /* Ensure the image fills the height */
        object-fit: cover; /* Cover the area fully without distortion */
        margin: 0; /* Remove any margin around the image */
        border-radius: 0; /* Remove border radius to avoid any empty corners */
    }

    /* Tikme logo size adjustments */
    .tikme-logo {
        max-width: 300px; /* Adjust the logo's width */
        max-height: 120px;  /* Adjust the logo's height */
        margin: 0; /* Ensure no margins affect the logo */
    }
}
