{% extends 'baseAuth.html' %}
{% load static %}

{% block extra_css %}
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<link href="{% static 'css/portal.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="main-container">
  <div class="row row-no-gutters">
    <!-- Left Panel -->
    <div class="col-md-6 left-panel">
      <img src="{% static 'assets/images/tikme-logo.png' %}" class="tikme-logo" alt="Tikme Dine Logo">
      <div class="divider"></div>
      <h2 class="heading">Choose your destination</h2>
      <!-- Buttons -->
      <a href="{% url 'admin_login' %}">
        <button class="option-button button-reservation">
          Reservation and Booking System
        </button>
      </a>
      <a href="#">
        <button class="option-button button-logistics">
          Logistics Management System
        </button>
      </a>
      <a href="#">
        <button class="option-button button-finance">
          Finance Management System
        </button>
      </a>
      <a href="{% url 'system_admin_login' %}">
        <button class="option-button button-system-admin-login">
          System Administrator System
        </button>
      </a>
    </div>
    <!-- Right Panel (Image) -->
    <div class="col-md-6 right-panel">
      <img src="{% static 'assets/images/gallery9.png' %}" alt="Dining Setup">
    </div>
  </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock %}
