.menubar-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px; /* Adjust this height as needed */
    background-color: #554c4c; /* Example background color */
    display: flex;
    align-items: center;
    z-index: 0; /* Lower z-index to stay behind the sidebar */
    color: white;
}


