body {
    background-color: #f8f8ff; /* Light background */
    font-family: 'Poppins', sans-serif;
}

/* Heading */
h1.title {
    color: #6f42c1; /* Violet color */
    text-align: left; /* Center the title */
    margin-top: 35px;
}

/* Filter buttons design */
.filter-button, .records-per-page-button {
    background-color: #008425; /* Green color */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.filter-button:hover, .records-per-page-button:hover {
    background-color: #6f42c1; /* Change to violet on hover */
}

/* Dropdown styles */
.dropdown {
    position: relative;
    display: inline-block;
}





.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f8f8ff;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
}

.dropdown-content a {
    color: #3b3b3b;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 14px;
}

.dropdown-content a:hover {
    background-color: #d1a35a; /* Gold on hover */
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Transaction table */
table {
    width: 90%;
    margin: 20px auto;
    border-collapse: collapse;
    text-align: left;
}

.table-frame {                                            
    width:100%;
    overflow-x:auto;
    overflow-y: auto;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    height:1000px;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
}

th {
    background-color: #e5e5e5;
    color: #000000;
}

tr:nth-child(even) {
    background-color: #f5f5f5; /* Light grey for even rows */
}

/* Button inside table (e.g., JEV button) */
.table-btn {
    background-color: #d1a35a;
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.table-btn:hover {
    background-color: #b5944a;
}

/* Button List Format */
.btn-list {
    flex-direction: column;
    display: flex;
    gap: 5px;
}

.btn-view {
    background-color: #0053ec;
    color: white;
    padding: 10px 10px 25px 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    height: 30px;
    width: 150px;
}
.btn-view:hover {
    background-color: #0059ff;
    color: white;
}

.btn-edit {
    background-color: #ff9900;
    color: white;
    padding: 10px 10px 25px 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    height: 30px;
    width: 150px;
}
.btn-edit:hover {
    background-color: #ffa620;
    color: white;
}

.btn-notes {
    background-color: #23b5c8;
    color: white;
    padding: 10px 10px 25px 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    height: 30px;
    width: 150px;
}
.btn-notes:hover {
    background-color: #27cfe6;
    color: white;
}

.btn-external {
    background-color: #727272;
    color: white;
    padding: 10px 10px 25px 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    height: 30px;
    width: 150px;
}
.btn-external:hover {
    background-color: #979797;
    color: white;
}


/* Modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #f8f8ff;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    border-radius: 5px;
}

.close {
    color: #000000;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: #6f42c1;
    cursor: pointer;
}

.filter-button-group {
    display: grid;
    grid-template-columns: 1fr; /* Single-column layout */
    gap: 15px; /* Spacing between form groups */
}

.filter-inbox {
    display: flex;
    flex-direction: column;
}

.filter-inbox input,
.filter-inbox select,
.filter-inbox textarea {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 10px;

}

.records-filter {
    margin-bottom: 10px;
}

.records-filter label {
    color: #333;
    font-weight: bold;
    margin-bottom: 5px;
}
