<!-- authentication/templates/sidebar.html -->
{% load static %}
<div class="sidebar-wrapper">
    <div class="sidebar">
        <div class="sidebar-header">
            <h2>System Admin</h2>
            <button class="menu-btn" onclick="toggleSidebar()">&#9776;</button>
        </div>
        <ul>
            <li><a href="{% url 'system_admin_dashboard' %}"><i class="fas fa-tachometer-alt"></i> <span>Dashboard</span></a></li>
            <li><a href="#"><i class="fas fa-users"></i> <span>Manage Employees</span></a></li>
            <li><a href="#"><i class="fas fa-cogs"></i> <span>Settings</span></a></li>
            <li><a href="#"><i class="fas fa-question-circle"></i> <span>Help</span></a></li>
            <li><a href="{% url 'system_admin_login' %}"><i class="fas fa-sign-out-alt"></i> <span>Logout</span></a></li>
        </ul>
        <div class="sidebar-footer">
            <img src="{% static 'assets/images/tikme-logo.png' %}" alt="Logo">
            <p>System Admin</p>
        </div>
    </div>
</div>
